@model Amos.VTUCORE3._1.Models.ViewModel.ManageUserWallet;

@{
    ViewData["Title"] = "ManageWallet";

}

<h1>ManageWallet</h1>
<div class="panel panel-body" style="min-height:256px">

    <div class="col-md-3">

    </div>

    <div class="col-md-9">


        <div class="card card-header bg-light">
            <span>
                <a href="#" class="btn btn-primary" onclick="AddEditEmployee(0)">Add New Employee </a>

                <a href="#" class="btn btn-default" onclick="SendOTP()">Send OTP Example</a>
            </span>
        </div>
        <br />
        <div class="card card-header bg-light">

            <span class="col-md-6">
                <input type="text" id="EName" class="" placeholder="Enter Employee Name" />



                <a href="#" class="btn  btn-primary" onclick="FilterRecord()">Search</a>

            </span>
            <div class="clearfix"></div>
        </div>
        <br />

        <table class="display" id="MyDataTable">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Wallet Balance
                    </th>
                    <th>
                        Debit
                    </th>
                    <th>
                        Credit
                    </th>
                </tr>
            </thead>

            <tbody></tbody>

        </table>

        <div class="modal fade" id="employeeModel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">AddEdit Employee</h3>
                    </div>
                    <div class="modal-body" id="employeeModalBody">


                    </div>


                </div>

            </div>

        </div>

        <div class="modal fade" id="confirmDeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Delete Employee</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Do you want to delete this employee?</h4>

                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default " data-dismiss="modal">Dismiss</a>
                        <a onclick="DeleteEmployee()" class="btn btn-danger">Confirm</a>
                    </div>


                </div>

            </div>

        </div>

        <div class="modal fade" id="successDeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Success</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Employee deleted successfully</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default " data-dismiss="modal">Dismiss</a>
                    </div>

                </div>

            </div>

        </div>

        <input type="hidden" id="hiddenEmployeeId" />
    </div>
</div>
<script>

    $(document).ready(function () {

        BindDataTable();
    });


    var oTable;
    var FilterRecord = function () {

        BindDataTable();
    }

    var BindDataTable = function (response) {

        /* Checking if DataTable has Already been initialized if yes then call 'draw()' on the DataTable to refresh the data table.
           Note DataTable is assign to 'OTable' variable
        */
        if ($.fn.DataTable.isDataTable("#MyDataTable")) {
            //debugger
            oTable.draw(); // how to call 'draw()' for latest jQuery DataTable
            //oTable.fnDraw(); //how to call 'draw()' for older jQuery DataTable

        }
        else {
            //debugger
            oTable = $("#MyDataTable").DataTable({
                "bServerSide": true,
                /* 'bServerSide' eneables server site processing. you have  create/configure a class on
         the server side which that will hold parameter which are been used by the datatable.
        */
                "sAjaxSource": "/Transaction/ManageWallet", // holds the url.
                "fnServerData": function (sSource, aoData, fnCallback) {
                    /*
                    'fnServerData'Contains the data for the server While'sSource' is the ajax url, 'aoData' array of parameters
                    which are been used by the database tables and 'fnCallback' is the internal function which is been used by
                    the datatable.
                     */
                    var EName = $("#EName").val();

                    aoData.push({ "name": "EName", "value": EName }); // Adding 'EName' value to 'aoData' before Ajax call is made

                    $.ajax({

                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    })

                },
                "aoColumns": [

                    { "mData": "CustomerUserName" },
                    { "mData": "CustomerFirstname" },
                    { "mData": "WalletBalance" },
                    {
                        "mData": "CustomerId",
                        "render": function (CustomerId, type, full, meta) {

                            return '<a href="#" onclick="AddEditEmployee(' + CustomerId + ')"><i class="glyphicon glyphicon-pencil"></i></a>'
                        }
                    },
                    {
                        "mData": "CustomerId",
                        "render": function (CustomerId, type, full, meta) {

                            return '<a href="#" onclick="ConfirmDeleteEmployee(' + CustomerId + ')"><i class="glyphicon glyphicon-trash"></i></a>'
                        }
                    }


                ]

            });
        }
    }


    var AddEditEmployee = function (employeeId) {

        var url = "/Test/AddEditEmployee?EmployeeId=" + employeeId;

        $("#employeeModalBody").load(url, function () {
            $("#employeeModel").modal("show");

        })

    }

    var ConfirmDeleteEmployee = function (employeeId) {
        //debugger
        $("#hiddenEmployeeId").val(employeeId);
        $("#confirmDeleteModal").modal("show");

    }
    var DeleteEmployee = function () {
        //debugger
        var employeeId = $("#hiddenEmployeeId").val();

        $.ajax({
            type: "Post",
            url: "/Test/DeleteEmployee?EmployeeId=" + employeeId,
            success: function (result) {

                if (result == true) {
                    $("#confirmDeleteModal").modal("hide");

                    $("#successModal").modal("show");

                    window.location = "/Test/Index";


                }

            }

        })

    }

    var SendOTP = function () {

        $.ajax({
            url: "/Test/SendOTP",
            type: "post",
            success: function (data) {
                if (data == "success") {

                    alert("OTP sent successfully");
                    window.location = "/Test/EnterOTP";
                }
                else {
                    alert("failed");
                }
            }


        })

    }


</script>

