@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to VTU</h1>
        <p class="lead text-muted">
            It's now easier for you to recharge a phone without all the hassles of 
            going to the store and purchasing top up cards or vouchers.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2" style="width:auto">Let's Get Started!</a>
        </p>
    </div>
</section>